{
  "openapi": "3.0.3",
  "info": {
    "title": "GitHub Repository Readonly API",
    "version": "1.0.0",
    "description": "Minimal readonly GitHub repository metadata surface for executor-backed evidence enrichment."
  },
  "servers": [
    {
      "url": "https://api.github.com"
    }
  ],
  "paths": {
    "/repos/{owner}/{repo}": {
      "get": {
        "tags": [
          "repos"
        ],
        "operationId": "getRepo",
        "summary": "Get GitHub repository metadata",
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Repository metadata",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "full_name": {
                      "type": "string"
                    },
                    "html_url": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "stargazers_count": {
                      "type": "integer"
                    },
                    "forks_count": {
                      "type": "integer"
                    },
                    "open_issues_count": {
                      "type": "integer"
                    },
                    "language": {
                      "type": "string"
                    },
                    "updated_at": {
                      "type": "string"
                    },
                    "pushed_at": {
                      "type": "string"
                    },
                    "default_branch": {
                      "type": "string"
                    },
                    "archived": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/repos/{owner}/{repo}/commits": {
      "get": {
        "tags": [
          "repos"
        ],
        "operationId": "listRepoCommits",
        "summary": "List recent commits for a GitHub repository",
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 10,
              "default": 3
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recent commit metadata",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "sha": {
                        "type": "string"
                      },
                      "html_url": {
                        "type": "string"
                      },
                      "commit": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string"
                          },
                          "author": {
                            "type": "object",
                            "properties": {
                              "date": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
