{
  "openapi": "3.0.3",
  "info": {
    "title": "Hacker News Algolia Readonly Search API",
    "version": "1.0.0",
    "description": "Minimal readonly HN Algolia search surface for Hermes/executor intel collection."
  },
  "servers": [
    {
      "url": "https://hn.algolia.com"
    }
  ],
  "paths": {
    "/api/v1/search_by_date": {
      "get": {
        "tags": [
          "stories"
        ],
        "operationId": "searchStoriesByDate",
        "summary": "Search Hacker News stories by date",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tags",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "story"
            }
          },
          {
            "name": "hitsPerPage",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 20,
              "default": 5
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "hits": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          },
                          "author": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string"
                          },
                          "story_text": {
                            "type": "string"
                          },
                          "points": {
                            "type": "integer"
                          },
                          "num_comments": {
                            "type": "integer"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
